body {
    text-align: center;
    background: rgb(131, 131, 131)
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
font-size: 30px;
margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30;
    font-size: 20px;
    color: #ffffff;
    background: rgba(235, 7, 7, 0.836);
    cursor: pointer;

}